.avatar {
    background-size: cover;
}

.avatar_m {
    background-image: url('/assets/avatar_m.png');
}

.avatar_f {
    background-image: url('/assets/avatar_f.png');
}

.line-item {
    width: 16px;
    height: 15px;
    background: #dfdfdf;
    position: absolute;
    z-index: 111;
    left: 0px;
    top: 50%;
    border-radius: 100%;
}

.mat-chip.active {
    background: yellow;
}