<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar" [style.background-image]="'url(/assets/' + item.avatar + ')'"></div>
    <mat-card-title (click)="showDocument()" style="cursor:pointer;">
      {{item.author}} - {{item.name}}
    </mat-card-title>
    <mat-card-subtitle>{{item.created | date:'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-subtitle>{{item.info}}</mat-card-subtitle>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let keyword of item.keywords let i = index" [attr.data-index]="i" (click)="openTagDialog(keyword)">
        {{keyword.type}} - {{keyword.name}} <span *ngIf="keyword.tag !== null && keyword.tag !== ''">&nbsp;({{keyword.tag}})</span>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>